<%- include("partials/header"); -%>
    <h1>About</h1>
    <h4> <%= aboutContent %> </h4>
    <h4>And a Web Developer for more information head to my <a href="https://mrsingh-rishi.github.io/personal-site-first-css-project/" target="_blanck">Portfolio.</a></h4>
<%- include("partials/footer"); -%>
