<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <h4> <%= contactContent %> </h4>
    <h4>Mail: rs3949427@gmail.com</h4>
    <h4><a href="https://www.linkedin.com/in/rishi-singh-332a481a4/">LinkedIn</a></h4>
    <h4><a href="https://www.instagram.com/mr.singh_rishi/">Instagram</a></h4>
    <h4><a href="https://twitter.com/RishSingh7">Twitter</a></h4>
<%- include("partials/footer"); -%>
